<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About Page</h1>
    <ul>
      <% about.forEach((item) => { %>
      <li><%= item.name %>님은 <%= item.age %>살입니다.</li>
      <% }) %>
    </ul>
  </body>
</html>
